/*******************************************
3ColorResume
Author: office@kamsolutions.pl
*******************************************/
/*******************************************
FONTS
*******************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/*******************************************
SETTINGS
*******************************************/
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed;
}
/*******************************************
CONTAINER
*******************************************/
.container-fluid{
  margin-top: 80px;
  margin-right: 40px;  
  margin-left: 40px;
  margin-bottom: 15px;
  background: #fff;
}

.main-container {
  padding: 0px 20px;
}

/* for sample works indivual page */
.container-fluid.section-content{
  margin: 10px 5px;
}

/*******************************************
General Settings
*******************************************/
a {
  border-bottom: solid 2px skyblue
}
a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus {
  border-bottom: solid 2px #000
}
h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 5px;
  color: #000
}
h3, h4, h5, h6, .project h2, .content-element h2 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  color: #000;
  ;
  margin-bottom: 10px
}
ol {
  padding-left: 20px
}
ul.list {
  padding-left: 10px
}
ul.list li {
  list-style: none;
  margin-bottom: 5px;
}
ul.list li:before {
  content: '\f061';
  font-family: 'FontAwesome';
  margin: 0 5px 0 -15px;
  color: skyblue;
  font-size: 15px;
  vertical-align: 1px;
}
.bull {
  color: skyblue;
  font-size: 30px!important;
  vertical-align: -4px
}
.removepadding {
  padding-bottom: 0px!important
}

h1 .subname{
  font-weight: 400;
}

/*******************************************
PHOTO (AVATAR)
*******************************************/
#photo-header{
  margin-top: -75px;
}
#photo{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block;
}
#photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#text-header h1{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}
#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em;
}
#text-header h1 span{
  color: #F0563D;
  letter-spacing: -2px;
}
#text-header h1 sup{
  opacity: 0.5;
}
#text-header:after{
  width: 100%;
  height: 3px;
  background: url(../img/line.png);
  margin-top: 5px;
  content: '';
  display: block;
}
/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  /*color: #EC7263;*/
  color: #337ab7;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}
.box h2:before{
  content: '//';
  margin-right: 5px;
}
.box p{
  font-size: 1.3em;
  line-height: 1.5em;
}
/*******************************************
EDUCATION
*******************************************/
#education{
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  background: #ec7263;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#ec7263), color-stop(89%,#ec7263), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#education li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
#education .year{
  width: 10%;
  background: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}
#education .description{
  width: 80%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
}
#education .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}
#education .description h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#education .description p{
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0;
}

/*******************************************
PUBLICATIONS
*******************************************/
#publication{
  margin-top: 10px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}

#publication li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}

#publication .description{
  width: 100%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
}
#publication .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}
#publication .description h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#publication .description p{
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0;
}

/*******************************************
EXPERIENCES
*******************************************/
.job{
  margin-bottom: 15px;
}
.job .where{
  font-size: 1.4em;
  font-weight: bold;
}
.job .year{
  font-size: 1.3em;
  opacity: 0.7;
}
.job .profession{
  font-size: 1.6em;
  font-weight: bold;
}
.job .description{
  font-size: 1.2em;
  line-height: 1.5em;
}
/*******************************************
CONTACT
*******************************************/
.contact-item{
  /*width: 100%;*/ /* commented by Jinyue */
  /*width: 40%;*/
  float: left;
  padding-left: 0px;
}
.contact-item .icon{
  /*padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;*/
  margin-top: 5px;
  opacity: 0.7;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  /*width: calc(100% - 55px);*/
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 5px;
}
.contact-item .description{
  width: 80%;
  /*width: calc(100% - 55px);*/
  font-size: 1.2em;
  opacity: 0.7;
}

/*******************************************
SKILLS
*******************************************/
.item-skills{
  height: 30px;
  /*background: #A75265;*/
  /*background: #F0563D;   commented by Jinyue */
  background: #d9534f;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  font-weight: 600;
}
.skills-legend{
  margin-top: 20px;
  opacity: 0.8;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  width: 25%;
  display: inline-block;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left;
}
.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}

/*******************************************
LANGUAGES
*******************************************/
#language-skills .skill{
  font-size: 1.3em;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#language-skills .skill .icons{
  width: 111px;
  height: 14px;
  background: url(../img/star-grey.png) no-repeat;
}
#language-skills .skill .icons-red{
  background: url(../img/star-red.png) no-repeat;
}

/*******************************************
HOBBIES
*******************************************/
.hobby{
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 25px;
  background: #A75265;
  position: relative;
  font-size: 1.2em;
}
.hobby:before{
  content: "\f004";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 6px;
  left: 7px;
}

/*******************************************
HOBBIES
*******************************************/
.programmingset{
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  background: #A75265;
  position: relative;
  font-size: 1.2em;
}


/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 768px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 992px) {
  #education .description{
    width: 87%;
  }
}
@media (min-width: 1200px) {
  #education .description{
    width: 90%;
  }
}

/*******************************************
SOCIAL ICONS
*******************************************/
.social {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: -5px;
  background: none!important;
  /*overflow: hidden;*/
}
.social li {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 2px;
  margin-bottom: 2px;
  list-style: none;
}
.social li:last-child {
  margin-right: 0px
}
.social li a {
  width: 32px;
  height: 34px;
  display: block;
  background-color: #fff;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  color: #000
}
.social li a .fa {
  vertical-align: middle;
  font-size: 22px;
  margin-top: 9px
}
.social li a:hover {
  background-color: skyblue;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Portfolio 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.portfolio {
  /*padding-bottom: 35px*/
  /*padding-bottom: 5px*/
}
.portfolio h4 a {
  color: #000;
  font-weight: bold;
  line-height: 1.4em
}
.portfolio .more {
  background-color: skyblue;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  white-space: nowrap;
  padding: 2px 3px 1px
}
.portfolio .subnavigation li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  margin-top: 9px;
}
.portfolio .subnavigation {
  margin-top: 30px;
  padding: 0px;
  line-height: 15px;
  margin-bottom: 0px
}
.portfolio .subnavigation li a {
  border: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 0px;
  padding: 2px 3px
}
.portfolio .subnavigation li.active a {
  background-color: skyblue;
  color: #000
}
.portfolio .item-content {
  /*height: 300px;*/
}
.portfolio .item-content .img {
  /*margin-bottom: 10px;*/
  position: relative
}
.portfolio .item-content .img > a{
  display:block;
  border-bottom:none;
}
.portfolio .item-content .img img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.portfolio .item-content .img .img-hover {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0px;
  border: solid 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.portfolio .item-content .img .img-hover a {
  background-color: skyblue;
  position: absolute;
  text-transform: uppercase;
  color: #000;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 18px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -47px;
  font-family: 'Roboto Condensed', sans-serif;
}
.portfolio .container-portfolio {
  /*width: 970px;*/
  margin-left: -10px;  
  margin-right: -10px;
}
.portfolio .container-portfolio .col-md-4 {
  width: 323px
}
.portfolio h4 {
  margin-bottom: 5px
}
.portfolio .item-content .fa-film {
  font-size: 14px;
  color: #000;
}

/* Isotope 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */ 
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/* Hover */
.show {
  visibility: visible!important;
  -webkit-backface-visibility: visible!important;
  -moz-backface-visibility: visible!important;
  backface-visibility: visible!important;
}
.hide {
  visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
  -moz-backface-visibility: hidden!important;
  backface-visibility: hidden!important;
}

/* Lightbox
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */ 
.load-lightbox {
  background-image: url(../img/load-lightbox.gif);
  background-repeat: no-repeat;
  background-position: 50% 300px;
  height: 100%
}
.overlay {
  position: fixed;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(1%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  overflow: auto;
  overflow-y: hidden;
}
.overlay-container {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 5002;
  left: 0
}
.popup-back {
  width: 100%;
}
.popup {
  width: 100px;
  z-index: 5003;
  top: 0px;
  left: 50%;
  background-color: #eee;
  padding: 0px;
  position: absolute;
}
.close-btn {
  background: #eee;
  width: 40px;
  height: 45px;
  display: block;
  z-index: 5002;
  font-size: 24px;
  padding: 20px;
  position: fixed;
  top: 0px;
  right: 47px;
  color: #08c;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px 1px #ddd;
  -webkit-box-shadow: 1px 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px 1px #ddd;
}
.close-btn span.left {
  position: absolute;
  z-index: 5010;
  top: 13px;
  right: 3px;
  width: 18px;
  height: 18px;
  border: 6px solid #ccc;
  border: 6px solid #ccc;
  border-right: none;
  border-top: none;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn span.right {
  position: absolute;
  z-index: 5010;
  top: 13px;
  left: 3px;
  width: 18px;
  height: 18px;
  border: 6px solid #ccc;
  border: 6px solid #ccc;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn:hover, .close-btn:focus {
  color: #005580
}
.no-scroll {
  overflow-y: scroll;
}
.popup .content-element {
  padding: 30px
}
.content-element .media {
  margin: 0 0 30px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  zoom: 1;
  height: auto;
}
.content-element .media img {
  width: 100%;
  height: auto;
}
.content-element h1 {
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: solid 3px skyblue
}
.content-element h2 {
  font-size: 20px
}
.content-element .txt-right {
  position: relative;/*height:475px*/
}
.content-element .txt {
  display: inline-block;
  bottom: 15px;
}

/* Sections 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.header {
  text-align: center;
  padding-bottom: 30px
}
.header h2 {
  display: inline-block;
  border-top: solid 5px #000;
  border-bottom: solid 5px skyblue;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  margin-bottom: 0px;
}
.section {
  background-color: #fff;
  position: relative
}
.section {
  padding: 5px 0px 0px 5px;
}
.grey {
  background-color: #eee
}
.td1 {
  width: 0;
  height: 0;
  border-left: 15px solid rgba(255,255,255,0);
  border-right: 15px solid rgba(255,255,255,0);
  border-top: 16px solid #eee;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -4px;
  color: #fff;
}
.td2 {
  border-top: 16px solid #919191;
  color: #fff;
}
.td3 {
  border-top: 16px solid #ffffff;
}
.td-yellow {
  border-top: 16px solid skyblue;
}

/* Wrap 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */ 
.bg-left {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: url(../img/bg-1.png) repeat;
  z-index: -1
}
.bg-right {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: url(../img/bg-2.png) repeat;
  z-index: -1
}
.wrap-content {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 15px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.content-element p{
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 5px;
}

.content-element .box li{
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 5px;
}

.wrap-content .navbar-default {
  width: auto
}
#ascrail2000 {
  z-index: 3!important;
}
/* Single project */
.project .navbar-header {
  float: right;
}
.project .navbar-default {
  height: 120px
}
.project .section {
  padding-top: 15px;
  z-index: 0
}
.project .go-back {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: transparent;
  border: solid 3px #ddd;
  color: #000;
  font-weight: bold
}
