body {
  padding-top: 40px;
}
.starter-template {
  padding: 10px 5px;
  text-align: center;
}

.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 40px;
	border-top: 1px solid #eee;
}

.submitBtn {
	margin-top: 10px;
}